ros2_ws/build
ros2_ws/install
ros2_ws/log
*pycache*
*pyc*
*.log
*.vscode
scripts/sysinfo.txt
ros2_ws/src/robo_detection/robo_detection/images
ros2_ws/src/robo_notification/robo_notification/files/registered_users.txt
